/* Общие стили */

//  Fonts
@font-face
  font-family spectralBold
  src url(../fonts/spectral/Spectral-Bold.ttf)
@font-face
  font-family spectralRegular
  src url(../fonts/spectral/Spectral-Regular.ttf)

@font-face
  font-family gilroyRegular
  src url(../fonts/gilroy/Gilroy-Regular.ttf)

body
  font-family spectralRegular
//  /Fonts

.bg_dotted
  background-image url('../images/common__bg-dotted-single.png')
.d-n
  display none

// Корректировка Бутстрапа
@media (min-width: 1200px)
  .container
    max-width 1300px

// /Корректировка Бутстрапа

/* /Общие стили */
