// Сетка - max-width 1024px
@media screen and (max-width 1024px)
  // direction
  .z-maw1024_fdc
    flex-direction column
  .z-maw1024_fdr
    flex-direction row
  // size
  .z-maw1024_maw-i
    max-width inherit
  .z-maw1024_miw-i
    min-width inherit
  .z-maw1024_w-i
    width inherit
  // alignment
  .z-maw1024_jcsa
    justify-content space-around
  // positioning
  .z-maw1024_posa
    position absolute
  .z-maw1024_posr
    position relative
  .z-maw1024_pl0
    padding-left 0
  .z-maw1024_pr0
    padding-right 0
  .z-maw1024_pl20
    padding-left 20px
  .z-maw1024_pr20
    padding-right 20px
  .z-maw1024_pl30
    padding-left 30px
  .z-maw1024_pr30
    padding-right 30px
  .z-maw1024_pl60
    padding-left 60px
  .z-maw1024_pr60
    padding-right 60px
  .z-maw1024_pt40
    padding-top 40px
  .z-maw1024_pb40
    padding-bottom 40px
  .z-maw1024_mb20
    margin-bottom 20px
  .z-maw1024_ml0
    margin-left 0
  .z-maw1024_t20
    top 20px
  .z-maw1024_mt110
    margin-top 110px
  .z-maw1024_r60
    right 60px
  // displaying
  .z-maw1024_dn
    display none
  .z-maw1024_df
    display -webkit-flex
    display -ms-flex
    display flex
  .z-maw1024_db
    display block
  .l_dib
    display inline-block
  .z-maw1024_od0
    order 0
  .z-maw1024_od1
    order 1

// /Сетка - max-width 1024px
