// Сетка - min-width 1025px
@media screen and (min-width 1025px)
  // direction
  .z-miw1025_fdc
    flex-direction column
  .z-miw1025_fdr
    flex-direction row
  // size
  .z-miw1025_maw-i
    max-width inherit
  .z-miw1025_miw-i
    min-width inherit
  .z-miw1025_w-i
    width inherit
  // alignment
  .z-miw1025_jcsa
    justify-content space-around
  // positioning
  .z-miw1025_posa
    position absolute
  .z-miw1025_posr
    position relative
  .z-miw1025_pl0
    padding-left 0
  .z-miw1025_pr0
    padding-right 0
  .z-miw1025_pl20
    padding-left 20px
  .z-miw1025_pr20
    padding-right 20px
  .z-miw1025_pl30
    padding-left 30px
  .z-miw1025_pr30
    padding-right 30px
  .z-miw1025_pl60
    padding-left 60px
  .z-miw1025_pr60
    padding-right 60px
  .z-miw1025_pt40
    padding-top 40px
  .z-miw1025_pb40
    padding-bottom 40px
  .z-miw1025_mb20
    margin-bottom 20px
  .z-miw1025_ml0
    margin-left 0
  .z-miw1025_t20
    top 20px
  .z-miw1025_mt110
    margin-top 110px
  .z-miw1025_r60
    right 60px
  // displaying
  .z-miw1025_dn
    display none
  .z-miw1025_df
    display -webkit-flex
    display -ms-flex
    display flex
  .z-miw1025_db
    display block
  .l_dib
    display inline-block
  .z-miw1025_od0
    order 0
  .z-miw1025_od1
    order 1
// /Сетка - min-width 1025px
