// Сетка - max-width 768px
@media screen and (max-width 768px)
  // direction
  .z-maw768_fdc
    flex-direction column
  .z-maw768_fdr
    flex-direction row
  // size
  .z-maw768_maw-i
    max-width inherit
  .z-maw768_miw-i
    min-width inherit
  .z-maw768_w-i
    width inherit
  // alignment
  .z-maw768_jcsa
    justify-content space-around
  // positioning
  .z-maw768_posa
    position absolute
  .z-maw768_posr
    position relative
  .z-maw768_pl0
    padding-left 0
  .z-maw768_pr0
    padding-right 0
  .z-maw768_pl20
    padding-left 20px
  .z-maw768_pr20
    padding-right 20px
  .z-maw768_pl30
    padding-left 30px
  .z-maw768_pr30
    padding-right 30px
  .z-maw768_pl60
    padding-left 60px
  .z-maw768_pr60
    padding-right 60px
  .z-maw768_pt40
    padding-top 40px
  .z-maw768_pb40
    padding-bottom 40px
  .z-maw768_mb20
    margin-bottom 20px
  .z-maw768_ml0
    margin-left 0
  .z-maw768_t20
    top 20px
  .z-maw768_mt110
    margin-top 110px
  .z-maw768_r60
    right 60px
  // displaying
  .z-maw768_dn
    display none
  .z-maw768_df
    display -webkit-flex
    display -ms-flex
    display flex
  .z-maw768_db
    display block
  .l_dib
    display inline-block
  .z-maw768_od0
    order 0
  .z-maw768_od1
    order 1
// /Сетка - max-width 768px
