// Сетка - Все разрешения
// direction
.z-all_fdc
  flex-direction column
.z-all_fdr
  flex-direction row
// size
.z-all_maw-i
  max-width inherit
.z-all_miw-i
  min-width inherit
.z-all_w-i
  width inherit
// alignment
.z-all_jcsa
  justify-content space-around
// positioning
.z-all_posa
  position absolute
.z-all_posr
  position relative
.z-all_pl0
  padding-left 0
.z-all_pr0
  padding-right 0
.z-all_pl20
  padding-left 20px
.z-all_pr20
  padding-right 20px
.z-all_pl30
  padding-left 30px
.z-all_pr30
  padding-right 30px
.z-all_pl60
  padding-left 60px
.z-all_pr60
  padding-right 60px
.z-all_pt40
  padding-top 40px
.z-all_pb40
  padding-bottom 40px
.z-all_pt0
  padding-top 0
.z-all_pb0
  padding-bottom 0
.z-all_mb20
  margin-bottom 20px
.z-all_ml0
  margin-left 0
.z-all_m40
  margin 40px
.z-all_t20
  top 20px
.z-all_mt110
  margin-top 110px
.z-all_r60
  right 60px
// displaying
.z-all_dn
  display none
.z-all_df
  display -webkit-flex
  display -ms-flex
  display flex
.z-all_db
  display block
.l_dib
  display inline-block
.z-all_od0
  order 0
.z-all_od1
  order 1
// /Сетка - Все разрешения
