.footer
  .container
    .row.d-flex
      .col-xl-4.col-sm-6
        img.footer__logo(src='images/logo.png')
        .footer__copyright.d-none.d-sm-block 2006–2019 © PROLEVEL
      .col-xl-8.col-sm-6
        .row
          .col-xl-4.col-lg-6
            .footer__services
              .footer__services-title Услуги
              nav.footer__services-menu
                ul.footer__services-menu-ul
                  li.footer__services-menu-ul-li Продвижение сайтов
                  li.footer__services-menu-ul-li Контекстная реклама
                  li.footer__services-menu-ul-li SMM
                  li.footer__services-menu-ul-li Вэб-дизайн
                  li.footer__services-menu-ul-li Разработка сайтов
          .col-xl-3.col-lg-6.mb-3.mb-lg-0
            nav.footer__menu
              ul.footer__menu-ul
                li.footer__menu-ul-li Портфолио
                li.footer__menu-ul-li Цены
                li.footer__menu-ul-li Отзывы
                li.footer__menu-ul-li О нас
                li.footer__menu-ul-li Блог
                li.footer__menu-ul-li Контакты
          .col-xl-5.col-lg-12
            ul.footer__contacts
              li.footer__contacts-phone +375 29 922-55-77
              li.footer__contacts-phone +375 29 922-55-77
              li.footer__contacts-email info@web-prolevel.com
              li.footer__contacts-address г. Москва,
              li.footer__contacts-address ул. Орджоникидзе, дом 11, стр. 10
      .col-12.d-block.d-sm-none
        .footer__copyright.footer__copyright_separator.mb-0.mt-5 2006–2019 © PROLEVEL
              
