.header
  // Хэдер левый
  .header__left
    .header__left-dotted.bg_dotted
      // Лого
      .header__left-logo-img-wrapper
        img.header__left-logo-img(src='images/logo.png' alt='логотип')
      .header__left-phone +375 29 922-55-77
    .header__left-socials
      img.header__right-socials-img(src='images/header__socials-fb.png')
      img.header__right-socials-img(src='images/header__socials-vk.png')
      img.header__right-socials-img(src='images/header__socials-inst.png')
  // Хэдер правый
  .header__right
    .header__right-menu-wrapper
      // Навигационное меню
      .menu
        .menu__button-open
          .menu__button-open-title Menu
          .menu__button-open-picture
            .menu__button-open-picture-dot
            .menu__button-open-picture-dot
            .menu__button-open-picture-dot
        .menu__navigaton.d-n
          .menu__navigaton-logo
          .menu__navigaton-items
            .menu__navigaton-items-item SEO 2.0
            .menu__navigaton-items-item Отраслевое продвижение
            .menu__navigaton-items-item Региональное продвижение
            .menu__navigaton-items-item ...
          .menu__button-close
            .menu__button-close-title Close
            .menu__button-close-picture

//- OLD
//- .header
//-   // Хэдер левый
//-   .header__left
//-     .header__left-logo-img-wrapper
//-       img.header__left-logo-img(src='images/logo.png')
//-     .header__left-phone +375(29) 922 55 77
//-   // Хэдер правый
//-   .header__right
//-     .header__right-socials
//-       img.header__right-socials-img(src='images/header__socials-fb.png')
//-       img.header__right-socials-img(src='images/header__socials-vk.png')
//-       img.header__right-socials-img(src='images/header__socials-inst.png')
//-     .header__right-menu-wrapper
//-       // Навигационное меню
//-       .menu
//-         .menu__button-open
//-           .menu__button-open-title Menu
//-           .menu__button-open-picture
//-             .menu__button-open-picture-dot
//-             .menu__button-open-picture-dot
//-             .menu__button-open-picture-dot
//-         .menu__navigaton.d-n
//-           .menu__navigaton-logo
//-           .menu__navigaton-items
//-             .menu__navigaton-items-item SEO 2.0
//-             .menu__navigaton-items-item Отраслевое продвижение
//-             .menu__navigaton-items-item Региональное продвижение
//-             .menu__navigaton-items-item ...
//-           .menu__button-close
//-             .menu__button-close-title Close
//-             .menu__button-close-picture


    
